# Dependencias
node_modules/
dist/

# Variables de entorno
.env
.env.local

# Docker & Logs
npm-debug.log*
docker-compose.override.yml

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
